body {
  background-image: url("/static/img/triangle-2136288.jpg");
  background-size: 100vw 100vh;
}


.navbar a {
  color: white;
}

thead {color: rgb(10, 12, 10);}
tbody {color: blue;}

table, th, td {
  border: 1px solid black;
}