{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static '/css/reset.css' %}">
  <link rel="stylesheet" href="{% static '/css/home.css' %}">
  <link rel="stylesheet" href="{% static '/css/cadastro.css' %}">
  <title>RH+ | Cadastro</title>
</head>
<ul class="navbar">
  <li><a href="{% url 'home' %}" class="a-home">Início</a></li>
  <li><a href="{% url 'dados' %}" class="a-dados">Dados</a></li>
</ul>
<body>
  <section class="section-cadastro">
    <div class="container-form">
      <div>
        <img src="" alt=""> <!-- IMAGEM DO FORMULARIO(ICONE SEM FUNDO)-->
      </div>
      <div class="container-form2">
        <form action="." method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" value="Enviar" class="btn-submit-form">
          
        </form>
      </div>
    </div>
    
    {% for m in messages %}
      <strong>{{m}}</strong>
    {% endfor %}
      
  </section>
</body>
</html>