{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static '/css/reset.css' %}">
  <link rel="stylesheet" href="{% static '/css/home.css' %}">
  <link rel="stylesheet" href="{% static '/css/cadastro.css' %}">
  <title>RH+ | Cadastro</title>
</head>
<ul class="navbar">
  <li><a href="{% url 'home' %}" class="a-home">Início</a></li>
  <li><a href="{% url 'dados' %}" class="a-dados">Dados</a></li>
</ul>

<body>
  <section class="section-cadastro">
    <div class="container-form">
      <div class="container-form2">
       
        <form action="{% url 'cadastro' %}" method="post">

          {% csrf_token %}
          <label for="nome">Nome:</label>
          <input type="text" name="nome" id="nome" pattern="[a-zA-Z ]+" title="Digite apenas letras.">
          <label for="sobrenome">Sobrenome:</label>
          <input type="text" name="sobrenome" id="sobrenome" pattern="[a-zA-Z ]+" title="Digite apenas letras.">
          <label for="nascimento">Nascimento:</label>
          <input type="date" name="nascimento" id="nascimento"><br>
          Genero: {{form.genero}}<br>
          <label for="CPF">CPF:</label>
          <input type="number" name="cpf" id="cpf"  pattern="[0-9]+" title="Digite apenas números."><br>
          Cargo: {{form.cargo}}<br>
          <label for="remuneracao">Remuneração:</label>
          <input type="number" name="remuneracao" id="remuneracao"  pattern="[0-9]+" title="Digite apenas números.">
          <input type="submit" value="Enviar" class="btn-submit-form"> 
          </form>
            

      </div>

      <div class="div-form-icon">
        <img src="{% static '/img/fundo3.png' %}">
      </div>

    </div>

  </section>
</body>

</html>