{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static '/css/home.css' %}">
  <link rel="stylesheet" href="{% static '/css/reset.css' %}">
  <link rel="stylesheet" href="{% static '/css/dados.css' %}">
  <title>RH+ | Dados</title>
</head>
<ul class="navbar">
  <li><a href="{% url 'home' %}" class="a-home">Início</a></li>
  <li><a href="{% url 'cadastro' %}" class="a-cadastro">Cadastro</a></li>
</ul>

<body>
  <section>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Nascimento</th>
        <th>CPF</th>
        <th>Naturalidade</th>
        <th>Cargo</th>
        <th>Remuneração</th>
      </tr>
    </thead>
    <tbody>
      {% for funcionario in funcionarios %}
      <tr>
        <th>{{ funcionario.nome }} {{ funcionario.sobrenome }}</th>
        <th>{{ funcionario.nascimento }}</th>
        <th>{{ funcionario.cpf }}</th>
        <th>{{ funcionario.naturalidade }}</th>
        <th>{{ funcionario.cargo }}</th>
        <th>{{ funcionario.remuneracao }}</th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
  <section>
    ...
  </section>
</body>
</html>