{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static '/css/home.css' %}">
  <link rel="stylesheet" href="{% static '/css/reset.css' %}">
  <link rel="stylesheet" href="{% static '/css/dados.css' %}">
  <title>RH+ | Dados</title>
</head>
<ul class="navbar">
  <li><a href="{% url 'home' %}" class="a-home">Início</a></li>
  <li><a href="{% url 'cadastro' %}" class="a-cadastro">Cadastro</a></li>
</ul>

<body>
  <section class="section-dados">
    <div class="div-form">
      <form action="." method="post">
      {% csrf_token %}
      {{ busca }}
      <button type="submit">Buscar</button>
    </form>
    </div>

    <div class="div-dados">
  <table>
    <thead>
      <tr>
        <th>Nome</th>
      </tr>
    </thead>
    <tbody>
      {% for funcionario in dados %}
      <tr>
        <th>{{ funcionario.nome }}</th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</section>
  <section>
    ...
  </section>
</body>
</html>