{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static '/css/reset.css' %}">
  <link rel="stylesheet" href="{% static '/css/home.css' %}">
  <link rel="stylesheet" href="{% static '/css/recursos.css' %}">
  <link rel="stylesheet" href="{% static '/css/contato.css' %}">
  <title>RH+</title>
</head>
<ul class="navbar">
  <li><a href="#section-home" class="a-home">Início</a></li>
  <li><a href="#section-recursos" class="a-recursos">Recursos</a></li>
  <li><a href="#section-contato" class="a-contato">Contato</a></li>

  <li><a href="{% url 'login' %}" class="a-login">Login</a></li>
  <!-- O USUÁRIO SÓ PODERÁ CADASTRAR UM FUNCIONÁRIO OU VER OS DADOS SE FIZER O LOGIN ANTES-->

  <li><a href="{% url 'cadastro' %}" class="a-cadastro">Cadastro</a></li>
  <li><a href="{% url 'dados' %}" class="a-dados">Dados</a></li>
</ul>

<body>
  <section id="section-home">
    <div class="welcome">
      <h1>Olá, seja bem vindo!</h1>
      <h4>Simplifique a gestão do seu time! Nosso sistema oferece uma plataforma completa para cadastro, acompanhamento e gestão de funcionários, otimizando seus processos e garantindo mais tempo para você se dedicar ao que realmente importa.</h4>
        <button class="btn-login"><a href="{% url 'login' %}">Faça o Login para iniciar</a></button>
    </div>
    
  </section>

  <!-- RECURSOS -->
  {% include 'recursos.html' %}
  <!-- END RECURSOS -->

  <!-- CONTATO -->
  {% include 'contato.html' %}
  <!-- END CONTATO -->


</body>

</html>