body {
  background-image: url("/static/img/fundo-fade-4k-1920-x-1080-xra9dqc9u7bqbgqx.webp");
  background-size: 100vw 100vh;
}

.navbar a {
  color: white;
}

.section-cadastro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-form {
  background-color: white;
  width: 50vw;
  height: 80vh;
  border-radius: 5%;
}

.container-form2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 85vh;
}
.container-form form {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bold;
  height: 45vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.btn-submit-form {
  width: 50%;
  position: relative;
  left: 25%;
  top: 5%;
}



