.navbar a {
  color: white;
}

.section-cadastro {
  background-image:url("/static/img/fundo-fade-4k-1920-x-1080-xra9dqc9u7bqbgqx.webp");
  background-size: 100vw 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-form {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-form2 {
  width: 60vw;
  height: 75vh;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  padding-left: 17%;
}

.container-form form {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
  height: 30vh;
}

.btn-submit-form {
  width: 100px;
  position: relative;
  left: 25%;
  top: 5%;
}

.div-form-icon {
  width: 55vw;
  height: 75vh;
  display: flex;
  justify-content: flex-end;
}

.div-form-icon img{
  width: 70vw;
  height: 85vh;
}
