#section-contato {
  background-image: url("/static/img/teste1.jpg");
  background-size: 100vw 100vh;
}

#section-contato .div-background {
  width: 100vw;
  height: 100vh;
  background-image: url("/static/img/foto6.png");
  background-size: 100vw 100vh;
}