body {
  background-image: url("/static/img/1_6df15c2e-7475-4b2e-839e-3826bc5c02f6.png");
  background-size: 100vw 100vh;
}


.navbar a {
  color: white;
}

thead {color: rgb(10, 12, 10);}
tbody {color: blue;}

table, th, td {
  border: 1px solid black;
}