/* NAVBAR MENU  */
.navbar {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  list-style-type: none;/*Remove os marcadores. Uma barra de navegação não precisa de marcadores de lista */
  padding: 5px;
 
}

.navbar li {
  display: inline; /*Aquiremovemos as quebras de linha antes e depois de cada item da lista, para exibi-los em uma linha */
  padding: 10px;
  padding: 10px;
  margin: 5px; 
}

.navbar a {
  font-size: 25px;
  font-family: Trebuchet MS, sans-serif;
  font-weight: 900;
  color:rgb(121, 96, 139);
}

.a-login {
  padding-right: 25px;
}

/* END NAVBAR */


/* SECTION HOME */
#section-home {
  background-image: url("/static/img/teste1.jpg");
  background-size: 100vw 100vh;
  
}

#section-home .div-background {
  width: 100vw;
  height: 100vh;
  background-image: url("/static/img/rb_2149009903.png");
  background-size: 100vw 130vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome {
  width: 55vw;
  height: 55vh;
  display: block;
  justify-content: center;
  align-items: center;
}

#section-home .welcome h1 {
  font-family:Arial, Helvetica, sans-serif;
  color:  white;
  font-size: 65px;
  font-weight: bold;
  display: flex;
  justify-content: center;  
}

#section-home .welcome h4 {
  font-family:Arial, Helvetica, sans-serif;
  color: white;
  font-weight: bold;
}

.welcome .btn-login {
  position: absolute;
  bottom: 50%;
  right: 45%;
}
 /* END SECTION HOME */
